@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}
  
* {
  font-family: "Montserrat";
}